:root{
    --color1: #DCFFB7;
    --color2: #FF004D;
    --color3: #cc036b;
    --color4: #1D2B53;
    --color5: #DED0B6;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--color1);
    text-align: center;
}

h2{
    font-size: xx-large;
    color: var(--color4);
}

#gameBoard{
    border: 3px solid var(--color4);
    margin: 10px 0px;
}

#scoreTitle, #score{
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--color4);
}